fastapi
uvicorn[standard]
gunicorn

sqlalchemy
pymysql
python-dotenv
pydantic-settings

passlib[bcrypt]
python-jose[cryptography]

sentence-transformers
transformers
torch

scikit-learn
numpy

pymupdf
python-docx
pytesseract
pillow

spacy